@model List<Product>
@{
    
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MultiShop - Online Shop Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="~/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
</head>

<h2 class="text-center mb-5">List of Products</h2>
<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Products" asp-action="Create">New Product</a>
    </div>
    <div class="col">
        
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>ShortDesc</th>
        <th>LongDesc</th>
        <th>Price</th>
        <th>Size</th>
        <th>Color</th>
        <th>Image</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.ShortDesc</td>
            <td>@product.LongDesc</td>
            <td>@product.Price$</td>
            <td>@product.Size</td>
            <td>@product.Color</td>
            <td><img src="/@product.UrlImage" width="100"/></td>
            <td style="white-space: nowrap">
                <a class="btn btn-primary btn-sm" asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id">Edit</a>
            </td>
            <td style="white-space: nowrap">
                <a class="btn btn-primary btn-sm" asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id" onclick="return confirm('Delete?')">Delete</a>
            </td>

        </tr>
    }
    </tbody>
</table>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/easing/easing.min.js"></script>
<script src="~/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Contact Javascript File -->
<script src="~/mail/jqBootstrapValidation.min.js"></script>
<script src="~/mail/contact.js"></script>

<!-- Template Javascript -->
<script src="~/js/main.js"></script>


</html>